.section.sectionFooter
	.container.sectionFooter__container
		.section__social
			a(href="#"): <i class="fab fa-twitter"></i>
			a(href="#"): <i class="fab fa-facebook"></i>
			a(href="#"): <i class="fab fa-vk"></i>
			a(href="#"): <i class="fab fa-youtube"></i>
		p.section__txt © 2015 startup, designet by shapedtheme