.header
	.container.header__container
		.headerLogo
			a(href="") Startup
		.headerMenu.list-horizontal
			ul
				li: a(href="#") Home
				li: a(href="#") Services
				li: a(href="#") About
				li: a(href="#") Works
				li: a(href="#") Blog
				li: a(href="#") Clients
				li: a(href="#") Contact
		.headerLanguage.list-horizontal
			ul
				li: a(href="#") RU
				li: a(href="#") KK
				li: a(href="#") EN