.section.sectionAboutus
	.container.sectionAboutus__container
		.section__caption
			h2.section__title About us
			p.section__text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta.
			.row
				.col-6.col-md-12
					p.aboutus__text.hidden-md Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet minus sequi sunt, minima maiores doloribus reiciendis deserunt voluptas aliquid, necessitatibus ipsa molestias!Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet minus sequi sunt, minima maiores doloribus reiciendis deserunt voluptas aliquid, necessitatibus!
				.col-6.col-md-12
					p.aboutus__text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet minus sequi sunt, minima maiores doloribus reiciendis deserunt voluptas aliquid, necessitatibus ipsa molestias!Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet minus sequi sunt, minima maiores doloribus reiciendis deserunt voluptas aliquid, necessitatibus!
				.col-3.col-md-12.col-lg-6
					img.aboutus__img(src="assets/images/section-aboutus/photo1.png", alt="")
					h4.aboutus__title Md. Khalil Uddin
					p Head of Ideas
				.col-3.col-md-12.col-lg-6
					img.aboutus__img(src="assets/images/section-aboutus/photo2.png", alt="")
					h4.aboutus__title Rubel Miah
					p Lead WordPress Developer
				.col-3.col-md-12.col-lg-6
					img.aboutus__img(src="assets/images/section-aboutus/photo3.png", alt="")
					h4.aboutus__title Shamim Mia
					p Sr. Web Developer
				.col-3.col-md-12.col-lg-6
					img.aboutus__img(src="assets/images/section-aboutus/photo4.png", alt="")
					h4.aboutus__title John Doe
					p Front-end Developer