.section.section-grey.sectionBlog
	.container.sectionBlog__container
		.section__caption
			h2.section__title Recent blog posts
			p.section__text Lorem ipsum dolor sit amet, consetetur sadipscing elitr amet.
		.blogTop
			.row
				.col-6.col-md-12
					a.sectionBlogItem__image(href=""): img(src="assets/images/blog/post-1.png", alt="")
				.col-6.col-md-12
					.sectionBlogItemContent
						.sectionBlogItemContent__left
							p 24 #[br] oct
						.sectionBlogItemContent__right
							h3.sectionBlogItem__title: a(href="") Startup ideas needs to be funded
							span By #[a(href="") Khalil Uddin]  in #[a(href="") Development]
					p.sectionBlogItem__text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam similique unde reprehenderit cupiditate excepturi, consequuntur aliquid ad. Dolore, dignissimos, adipisci! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam similique unde reprehenderit cupiditate excepturi, consequuntur aliquid ad. Dolore, dignissimos, adipisci! Dolore, dignissimos, adipisci! Lorem ipsum dolor sit amet, consectetur adipisicing elit.
					a(href="").sectionBlogItem__link Read more
		.blogBottom
			.row
				.col-6.col-md-12
					a.sectionBlogItem__image(href=""): img(src="assets/images/blog/post-2.png", alt="")
				.col-6.col-md-12
					.sectionBlogItemContent
						.sectionBlogItemContent__left
							p 28 #[br] oct
						.sectionBlogItemContent__right
							h3.sectionBlogItem__title: a(href="") Startup ideas needs to be funded
							span By #[a(href="") Khalil Uddin]  in #[a(href="") Development]
					p.sectionBlogItem__text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam similique unde reprehenderit cupiditate excepturi, consequuntur aliquid ad. Dolore, dignissimos, adipisci! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam similique unde reprehenderit cupiditate excepturi, consequuntur aliquid ad. Dolore, dignissimos, adipisci! Dolore, dignissimos, adipisci! Lorem ipsum dolor sit amet, consectetur adipisicing elit.
					a(href="").sectionBlogItem__link Read more