.section.sectionHome
	.container.sectionHome__container
		.sectionHome__caption
			h1.sectionHome__title Welcome to STARTUP
			p.sectionHome__text Your Favourite Creative Agency Template
			a(href="").btn.btn-primary.sectionHome__link Get started