.partnersContainer
	.container
		.col-12
			img.partners__img(src="assets/images/section-partners/logo1.png", alt="")
			img.partners__img(src="assets/images/section-partners/logo2.png", alt="")
			img.partners__img(src="assets/images/section-partners/logo3.png", alt="")
			img.partners__img(src="assets/images/section-partners/logo4.png", alt="")
			img.partners__img(src="assets/images/section-partners/logo5.png", alt="")
		p Hvaing placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus. Temporibus autem #[br]quibusdam et aut officiis debitis aut rerum.
		h6 John Doe, Google Inc.