.section.sectionServices
	.container.sectionServices__container
		.section__caption
			h2.section__title Services
			p.section__text We offer ipsum dolor sit amet, consetetur sadipscing elitr amet.
			.row
				.col-4.col-md-12
					.sectionServicesItem
						.sectionServicesItem__icon.sectionServicesItem__icon-red
							i.fab.fa-autoprefixer
						h3.sectionServicesItem__title Clean Typography
						p.sectionServicesItem__text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet minus sequi sunt, minima maiores doloribus reiciendis deserunt voluptas aliquid, necessitatibus ipsa molestias!
				.col-4.col-md-12
					.sectionServicesItem
						.sectionServicesItem__icon
							i.fas.fa-code
						h3.sectionServicesItem__title Rock Solid Code
						p.sectionServicesItem__text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet minus sequi sunt, minima maiores doloribus reiciendis deserunt voluptas aliquid, necessitatibus ipsa molestias!
				.col-4.col-md-12
					.sectionServicesItem
						.sectionServicesItem__icon
							i.far.fa-life-ring
						h3.sectionServicesItem__title Expert Support
						p.sectionServicesItem__text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet minus sequi sunt, minima maiores doloribus reiciendis deserunt voluptas aliquid, necessitatibus ipsa molestias!