.section.sectionLatestworks
	.container.sectionLatestworks__container
		.section__caption
			h2.section__title Latest Works
			ul.section__list.list-horizontal
				li: a(href="#") All
				li: a(href="#") Branding
				li: a(href="#") Design
				li: a(href="#") Development
				li: a(href="#") Strategy
			.row
				.col-4.col-lg-12.col-md-12
					img.latestworks__img(src="assets/images/section-latestworks/img1.png", alt="")
					img.latestworks__img(src="assets/images/section-latestworks/img2.png", alt="")
					img.latestworks__img(src="assets/images/section-latestworks/img3.png", alt="")
				.col-4.col-lg-12.col-md-12
					img.latestworks__img(src="assets/images/section-latestworks/img4.png", alt="")
					img.latestworks__img(src="assets/images/section-latestworks/img5.png", alt="")
					img.latestworks__img(src="assets/images/section-latestworks/img6.png", alt="")
				.col-4.col-lg-12.col-md-12
					img.latestworks__img(src="assets/images/section-latestworks/img7.png", alt="")
					img.latestworks__img(src="assets/images/section-latestworks/img8.png", alt="")
					img.latestworks__img(src="assets/images/section-latestworks/img9.png", alt="")