.section.sectionContacts
	.container.sectionContacts__container
		.section__caption
			h2.section__title Get in touch
			p.section__text Lorem ipsum dolor sit amet, consetetur sadipscing elitr amet.
		.section__content.sectionContacts__content
			.row
				.col-4.col-md-12.text-md-center
					.info
						i.fas.fa-map-marker-alt
						h4 Address
					p 312, 7th Ave, New York #[br] NY 101200, United States of America
					.info
						i.fas.fa-mobile-alt
						h4 Hotline (24x7)
					p +65 0052 300, +65 88251 210 #[br] +88 01723 511 340
					.info
						i.far.fa-envelope
						h4 E-mail
					p shapedtheme@gmail.com #[br] khalilkode@gmail.com
				.col-8.col-md-12
					form(action="")
						.row
							.form-group.col-6.col-md-12
								input(type="text", name="", class="form-control", placeholder="Your name")
							.form-group.col-6.col-md-12
								input(type="text", name="", class="form-control", placeholder="Your phone")
							.form-group.col-6.col-md-12
								input(type="text", name="", class="form-control", placeholder="Your address")
							.form-group.col-6.col-md-12
								input(type="text", name="", class="form-control", placeholder="Your e-mail")
						.form-group
							textarea(name="", rows="6", class="form-control", placeholder="Your message")
						.row
							.col-4.col-md-12
								button(type="submit", class="btn btn-block btn-primary") Send message
							.col-8.col-md-12
								span(style="line-height: 35px;").small #[span.text-red *] We’ll contact you as as possible. We don’t reply on Monday.

