.section.sectionQuestion
	.container.sectionQuestion__container
		.section__caption
			h2.question__title Do you like OUR WORK so far? #[br] Let's talk about YOUR PROJECT!
			a(href="").btn.btn-primary.sectionHome__link Get in touch